.gitignore
*.gpg
# Created by https://www.gitignore.io/api/git,visualstudiocode

### Git ###
*.orig

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/git,visualstudiocode
lekcja11/my-app/node_modules/*