.c-heading {
    font-family: sans-serif;
    font-weight: bold;
}

.c-heading--h1 {
    font-size: 3rem;
}

.c-heading--h2 {
    font-size: 2rem;
}

.c-heading--h3 {
    font-size: 1.5rem;
}

.c-heading--h4 {
    font-size: 1rem;
}

.c-heading--h5 {
    font-size: 0.9rem
}

.c-heading--h6 {
    font-size: 0.75rem
}


/* stała wielkośc fontu 