body {
    margin: 0;
    padding: 0;
}

.c-ratio {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    position: relative;
}

.c-ratio:before {
    content: "";
    display: block;
}


.c-ratio--16-9:before {
    padding-bottom: 56.25%;
}


.c-ratio__elem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
